<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    <div th:replace="fragments/head.html"></div>
    <title>Headbangers Cave - Editar Publicacion</title>
</head>

<body>
    <nav>
        <span>
            <a th:href="@{/usuario/dashboard}">
                <img class="headbangersLogo" src="../images/headbangersLogo.png" alt="Headbangers Cave">
            </a>
        </span>
        <div class="navbarBotones">
            <button class="btn btn-warning">
                <a class="text-decoration-none text-dark" th:href="@{/usuario/dashboard}">Volver</a>
            </button>
        </div>
    </nav>

    <h2 class="reesplandor" style="margin: 20px 0px 5px 10px">Editar Publicacion</h2>

    <div th:replace="fragments/formulario.html"></div>

    <div th:replace="fragments/footer.html"></div>
</body>
</html>
