<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
    <div th:replace="fragments/head.html"></div>
    <title>Headbangers Cave - Miembros Registrados</title>
</head>
<body>
    <nav>
        <span>
            <a th:href="@{/usuario/dashboard}">
                <img class="headbangersLogo" src="/images/headbangersLogo.png" alt="Headbangers Cave">
            </a>
        </span>
        <div class="navbarBotones">
            <button class="btn btn-warning">
                <a class="text-decoration-none text-dark" th:href="@{/usuario/dashboard}">Volver</a>
            </button>
        </div>
    </nav>

    <div class="scroll" style='width:50%'>
        <div class="row mx-3">
            <div th:each="usuario:${usuarios}">
                <div class="card bg-black m-2" id='tarjeta'>
                    <div class="card-body">
                        <div th:if="${usuario.imagen == null}">
                            <img class="publicacionTarjeta" style="width: 30%" align='right' src="/images/sin_imagen_de_perfil.jpg" alt="usuario sin imagen de perfil">
                        </div>
                        <div th:unless="${usuario.imagen == null}">
                            <a th:href="@{/usuario/perfil/__${usuario.id}__}">
                                <img class="publicacionTarjeta" th:src="${usuario.imagen.imagenUrl}" alt='foto de perfil' style="width: 30%" align='right'>
                            </a>
                        </div>

                        <h3 th:text="${usuario.nombreu}" style="margin-bottom: 0px; color: chocolate; font-weight: bold; font-family: string"></h3>
                        <h6 th:text="'Miembro desde ' + ${usuario.fechalta}" style="color: grey"></h6>  

                        <button style="margin-top: 95px" class="btn btn-warning">
                            <a class="text-decoration-none text-dark" th:href="@{/usuario/perfil/__${usuario.id}__}" >Ver Perfil</a>
                        </button>
                        <button style="margin-top: 95px" class="btn btn-danger" sec:authorize="hasAnyRole('USER')" th:if="${session.usuariosession.nombreu == usuario.nombreu}">
                            <a class="text-decoration-none text-dark" th:href="@{/admin/eliminar_usuario/__${usuario.id}__}">Eliminar Usuario</a>
                        </button>
                        <button style="margin-top: 95px" class="btn btn-danger" sec:authorize="hasAnyRole('ADMIN')">
                            <a class="text-decoration-none text-dark" th:href="@{/admin/eliminar_usuario/__${usuario.id}__}">Eliminar Usuario</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer.html"></div>
</body>
</html>
