<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
    <div th:replace="fragments/head.html"></div>
    <title>Headbangers Cave - Login</title>
</head>

<body>
    <nav>
        <span>
            <a th:href="@{/publicaciones}">
                <img class="headbangersLogo" src="../images/headbangersLogo.png" alt="Headbangers Cave">
            </a>
        </span>
        <div class="navbarBotones">
            <button class="btn btn-warning">
                <a class="text-decoration-none text-dark" th:href="@{/publicaciones}">Volver</a>
            </button>
        </div>
    </nav>

    <div>
        <form th:action="@{/logincheck}" method="POST" class="formulario">

            <div class="form-group my-3">
                <h3 class="reesplandor">Accede y publicá tu musica</h3>
            </div>
            <div class="form-group my-3">
                <input type="text" class="form-control" placeholder="Nombre de Usuario" name="nombreu"
                       th:value="${nombreu}">
            </div>
            <div class="form-group my-3">
                <input type="password" class="form-control" placeholder="Contraseña" name="password">
            </div>
            <button type="submit" class="btn btn-light mt-3 botones">Entrar</button>

        </form>
        <br>
    <div th:replace="fragments/head.html"></div>

    </div>
    <div class="footer">
        <p>Copyright • Todos los derechos reservados • 2022</p>
    </div>
    
        <div th:replace="fragments/footer.html"></div>
</body>
</html>