<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
    <div th:replace="fragments/head.html"></div>
    <title>Headbangers Cave - Login</title>
</head>

<body>
    <nav>
        <span>
            <a th:href="@{/publicaciones}">
                <img class="headbangersLogo" src="../images/headbangersLogo.png" alt="Headbangers Cave">
            </a>
        </span>
        <ul class="nav">
            <li><a class="btn btn-warning m-1" th:href="@{/publicaciones}">Volver</a>
            </li>
        </ul>
    </nav>

    <div>
        <form th:action="@{/logincheck}" method="POST" class="formulario">

            <div class="form-group my-3">
    <p class="reesplandor" style="text-align: left; font-weight: bold; margin: 20px 0px 0px 5px">Accede y publicá un tema que nos vuele la cabeza a todxs!</p>
            </div>
            <div class="form-group my-3">
                <input type="text" class="form-control" placeholder="Nombre de Usuario" name="nombreu" th:value="${nombreu}" style="width: 60%; margin-left: 10px">
            </div>
            <div class="form-group my-3">
                <input type="password" class="form-control" placeholder="Contraseña" name="password" style="width: 60%; margin-left: 10px">
            </div>
            <button type="submit" class="btn btn-dark" style="width: 60%; margin-left: 10px">Entrar</button>
        </form>

    </div>
    <br>
    <div th:replace="fragments/error.html"></div>

    <div th:replace="fragments/footer.html"></div>
</body>
</html>