<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Headbangers Cave - Publicaciones</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
              integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/estilos.css">
    </head>

    <body>
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/publicaciones}">
                <img class="headbangersLogo" src="../images/headbangersLogo.png" alt="Headbangers Cave">
            </a>
        </span>
        <span sec:authorize="hasAnyRole('USER', 'ADMIN')">
            <a th:href="@{/usuario/dashboard}">
                <img class="headbangersLogo" src="../images/headbangersLogo.png" alt="Headbangers Cave">
            </a>
        </span>
        <nav>
            <div style="text-align: center" class="navbarBotones">
                <button class="btn btn-warning" sec:authorize="hasAnyRole('USER', 'ADMIN')">
                    <a class="text-decoration-none text-dark" th:href="@{/crear}">Crear Publicacion</a>
                </button>
                <button class="btn btn-warning" sec:authorize="hasAnyRole('USER','ADMIN')">
                    <a class="text-decoration-none text-dark" th:text="'Tu Perfil (' + ${session.usuariosession.nombreu} + ')'" th:href="@{/usuario/perfil/__${id}__}"></a>
                </button>
                <button class="btn btn-warning" sec:authorize="hasAnyRole('USER','ADMIN')">
                    <a class="text-decoration-none text-dark" th:href="@{/lista_usuarios}">Miembros Registrados</a>
                </button>
                <button class="btn btn-warning" sec:authorize="isAnonymous()">
                    <a class="text-decoration-none text-dark" sec:authorize="isAnonymous()"th:href="@{/registrar}">Registrate</a>
                </button>
                <button class="btn btn-warning" sec:authorize="isAnonymous()">
                    <a class="text-decoration-none text-dark" th:href="@{/login}">Login</a>
                </button>
                <button class="btn btn-warning" sec:authorize="hasAnyRole('USER', 'ADMIN')">
                    <a class="text-decoration-none text-dark" th:href="@{/logout}">Logout</a>
                </button>

            </div>
        </nav>

        <div th:if="${exito != null}" class="card text-white bg-transparent mb-3 mt-3 mensajeExito">
            <div class="card-body">
                <h5 class="card-title">Exito</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>

        <div class="title-text-center py-5" >
            <h2 class="reesplandor" th:text="' Últimas publicaciones'"></h2>
        </div>

        <div class="row mx-5">
            <div th:each="publicacion:${publicaciones}" class="publicacionTarjeta">
                <div class="card bg-black mt-1">
                    <div class="card-body">
                        <a th:href="@{/usuario/perfil/__${publicacion.creador.id}__}"><img class="publicacionTarjeta" th:src="@{'/perfiles/' + ${publicacion.creador.foto}}" alt='foto de perfil' style="width: 30%" align='right'></a>
                        <h3 th:text="${publicacion.creador.nombreu}"></h3>
                        <h6 th:text="${publicacion.fecha}"></h6>                           
                        <h3 th:text="${publicacion.titulo}"></h3>
                        <h5 th:text="${publicacion.comentario}"></h5>

                        <a  class="btn btn-light"  th:href="@{${publicacion.link}}" target="_blank">Ir al enlace</a>
                        <span sec:authorize="hasAnyRole('USER', 'ADMIN')">
                            <a th:href="@{/editar/__${publicacion.id}__}" class="btn btn-light"  th:if="${session.usuariosession.nombreu == publicacion.creador.nombreu or session.usuariosession.nombreu == 'admin'}">Editar Publicación</a><br>
                            <a th:href="@{/__${publicacion.id}__}" class="btn btn-danger" th:if="${session.usuariosession.nombreu == publicacion.creador.nombreu or session.usuariosession.nombreu == 'admin'}">Eliminar Publicación</a><br>
                        </span>
                    </div>
                </div>
            </div>
            <div class="footer">
                <p>Copyright • Todos los derechos reservados • 2022</p>
            </div>
    </body>

</html>