<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
    <div th:replace="fragments/head.html"></div>
    <title>Headbangers Cave - Publicaciones</title>
</head>

<body>
    <nav>
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/publicaciones}">
                <img class="headbangersLogo" src="../images/headbangersLogo.png" alt="Headbangers Cave">
            </a>
        </span>
        <span sec:authorize="hasAnyRole('USER','ADMIN')">
            <a th:href="@{/usuario/dashboard}">
                <img class="headbangersLogo" src="../images/headbangersLogo.png" alt="Headbangers Cave">
            </a>
        </span>

        <div style="text-align: center" class="navbarBotones">
            <button class="btn btn-warning" sec:authorize="hasAnyRole('USER', 'ADMIN')">
                <a class="text-decoration-none text-dark" th:href="@{/crear}">Crear Publicacion</a>
            </button>
            <button class="btn btn-warning" sec:authorize="hasAnyRole('USER','ADMIN')">
                <a class="text-decoration-none text-dark" th:text="'Tu Perfil (' + ${session.usuariosession.nombreu} + ')'" th:href="@{/usuario/perfil/__${id}__}"></a>
            </button>
            <button class="btn btn-warning" sec:authorize="hasAnyRole('USER','ADMIN')">
                <a class="text-decoration-none text-dark" th:href="@{/lista_usuarios}">Miembros Registrados</a>
            </button>
            <button class="btn btn-warning" sec:authorize="isAnonymous()">
                <a class="text-decoration-none text-dark" sec:authorize="isAnonymous()"th:href="@{/registrar}">Registrate</a>
            </button>
            <button class="btn btn-warning" sec:authorize="isAnonymous()">
                <a class="text-decoration-none text-dark" th:href="@{/login}">Login</a>
            </button>
            <button class="btn btn-warning" sec:authorize="hasAnyRole('USER', 'ADMIN')">
                <a class="text-decoration-none text-dark" th:href="@{/logout}">Logout</a>
            </button>

        </div>
    </nav>

    <div style="display: inline-block" th:replace="fragments/exito.html"></div>

    <div class="scroll">
        <div class="row mx-3">
            <div th:each="publicacion:${publicaciones}" class="publicacionTarjeta">
                <div class="card bg-black" id='tarjeta'>
                    <div class="card-body">
                        <div th:if="${publicacion.creador.imagen == null}">
                            <a th:href="@{/usuario/perfil/__${publicacion.creador.id}__}">
                                <img class="publicacionImagen" style="width: 140px" align='right' src="/images/sin_imagen_de_perfil.jpg" alt="usuario sin imagen de perfil">
                            </a>
                        </div>
                        <div th:unless="${publicacion.creador.imagen == null}">
                            <a th:href="@{/usuario/perfil/__${publicacion.creador.id}__}">
                                <img class="publicacionImagen" th:src="${publicacion.creador.imagen.imagenUrl}" alt='foto de perfil' style="width: 140px" align='right'>
                            </a>
                        </div>
                        <h3 style="margin-bottom: 0px; color: chocolate; font-weight: bold; font-family: string" th:text="${publicacion.creador.nombreu}"></h3>
                        <small style="color: grey;" th:text="${publicacion.fecha}"></small>


                        <h5 style="margin-top: 30px;" th:text="${publicacion.titulo}"></h5>
                        <h6 style="color: burlywood;" th:text="${publicacion.comentario}"></h6>
                        <a class="btn btn-light"  th:href="@{${publicacion.link}}" target="_blank">Ver Publicación</a>

                        <span sec:authorize="hasAnyRole('USER')">
                            <a th:href="@{/editar/__${publicacion.id}__}" class="btn btn-dark"  th:if="${session.usuariosession.nombreu == publicacion.creador.nombreu}">Editar Publicación</a>
                            <a th:href="@{/__${publicacion.id}__}" class="btn btn-danger" th:if="${session.usuariosession.nombreu == publicacion.creador.nombreu}">Eliminar Publicación</a>
                        </span>
                        <span sec:authorize="hasAnyRole('ADMIN')">
                            <a th:href="@{/editar/__${publicacion.id}__}" class="btn btn-dark">Editar Publicación</a>
                            <a th:href="@{/__${publicacion.id}__}" class="btn btn-danger">Eliminar Publicación</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>