<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
    <div th:replace="fragments/head.html"></div>
    <title>Headbangers Cave - Registro</title>
</head>

<body>
    <nav>
        <span>
            <a th:href="@{/publicaciones}">
                <img class="headbangersLogo" src="../images/headbangersLogo.png" alt="Headbangers Cave">
            </a>
        </span>
        <ul class="nav">
            <li><a class="btn btn-warning m-1" th:href="@{/publicaciones}">Volver</a>
            </li>
        </ul>
    </nav>

    <div>
        <form th:action="@{/registro}" method="POST" enctype="multipart/form-data" class="formulario">
            <div class="form-group my-3">
                <p class="reesplandor" style="text-align: left; font-weight: bold; margin: 20px 0px 0px 10px">Registrate y demostrá tu estilo</p>
            </div>

            <div class="form-group my-3">
                <input type="text" class="form-control" placeholder="Nombre de Usuario" name="nombreu"
                       th:value="${nombreu}" style="width: 60%; margin-left: 10px">
            </div>
            <div class="form-group my-3">
                <input type="password" class="form-control" placeholder="Contraseña" name="password" style="width: 60%; margin: 0px 0px 0px 10px">
            </div>
            <div class="form-group my-3">
                <input type="password" class="form-control" placeholder="Repetir contraseña" name="password2" style="width: 60%; margin: 0px 0px 0px 10px">
            </div>
            <div class="form-group my-3">
                <p class="reesplandor" style="text-align: left; margin: 0px 0px 0px 10px; font-size: 15px">Imagen de Perfil</p>
                <input type="file" class="form-control-plaintext" name="multipartFile" style="width: 60%; margin-left: 10px">
            </div>       
            <button type="submit" name="registro" class="btn btn-dark" style="width: 60%; margin: 0px 0px 0px 10px">Registrarme</button>
        </form>
        <br>
        <div th:replace="fragments/error.html"></div>
    </div>

    <div th:replace="fragments/footer.html"></div>
</body>
</html>